---
import Card from "./Card";
import CardWithImage from "./CardWithImage.astro";
import CardOnLyImage from "./CardOnlyImage.astro";

const data: {
  type: "simple" | "with-image" | "only-image";
  img?: {
    src: string;
    alt: string;
  };
  icon?: any;
  title: string;
  description: string;
  cta: {
    url: string;
    text: string;
  };
}[] = Astro.props.data;

let gridClasses = "grid-cols-1";
if (data.length % 2 === 0) {
  gridClasses += " sm:grid-cols-2";
}

if (data.length % 3 === 0) {
  gridClasses += " md:grid-cols-3";
}

if (data.length % 4 === 0) {
  gridClasses += " lg:grid-cols-4";
}
---

<div class={`max-w-7xl mx-auto grid gap-4 ${gridClasses}`}>
  {
    data.map((card) => {
      if (card.type === "simple") {
        return <Card card={card} Icon={card.icon} />;
      } else if (card.type === "with-image") {
        return <CardWithImage data={card} />;
      } else if (card.type === "only-image") {
        return <CardOnLyImage data={card} />;
      }
    })
  }
</div>
