---
import ImageComp from '../ImageComp.astro';

const { data, index } = Astro.props;
---
<a data-aos="fade-right" data-aos-delay={index * 50} href={data.cta.url} target={data.cta.url.includes("http") ? "_blank" : ""} class="group flex flex-col bg-white rounded-sm overflow-hidden shadow transition-all! duration-500 ease-in-out hover:scale-105 hover:shadow-2xl">
  <ImageComp src={data.img.src} alt={data.img.alt} class="w-full" />
  <div class="flex-1 p-4 flex flex-col gap-4 justify-between">
    <p class="text-slate-600 font-semibold text-xl transition-colors duration-500 ease-in-out group-hover:text-rose-500">{data.title}</p>
    <p class="text-slate-500 text-base">{data.description}</p>
    <button class="btn-dark text-base">{data.cta.text}</button>
  </div>
</a>