---
import ImageComp from "../ImageComp.astro";
import SimpleSection from "../sections/SimpleSection.astro";

const { data } = Astro.props;
---

<SimpleSection title={data.title} subTitle={data.subTitle}>
  <div class="flex flex-col gap-6">
    {
      data.cards.map((item: any, index: number) => (
        <div class={`flex flex-col gap-6 lg:items-center ${index % 2 === 0 ? "lg:flex-row" : "lg:flex-row-reverse"}`}>
          <div class={`lg:px-12 ${index % 2 === 0 ? "lg:text-right" : "lg:text-left"}`}>
            <h3 class="text-slate-900 font-bold text-4xl mb-12">{item.title}</h3>
            <p class="text-slate-600 text-2xl">{item.description}</p>
          </div>
          <div class="relative group overflow-hidden lg:rounded-sm lg:min-w-1/2">
            <ImageComp
              src={item.img.src}
              alt={item.img.alt}
              class="-mx-4 object-center object-cover transition duration-300 ease-in-out lg:mx-0 lg:aspect-square group-hover:scale-105"
            />
            <div class="opacity-0 absolute inset-0 size-full bg-radial from-slate-900/20 to-slate-900/50 z-10 transition duration-300 ease-in-out group-hover:opacity-100" />
          </div>
        </div>
      ))
    }
  </div>
</SimpleSection>
