---
import SimpleSection from "./SimpleSection.astro";
import { FaCheckCircle } from "react-icons/fa";

const { data } = Astro.props;
---

<SimpleSection>
  <div class="flex flex-col gap-6 lg:flex-row lg:items-center">
    <div class="text-slate-600 lg:px-12 lg:text-right">
      <h2 class="text-slate-900 font-bold text-5xl mb-4">{data.title}</h2>
      <p class="mb-12 text-2xl">{data.subTitle}</p>
      <p>
        {data.description}
      </p>

      <ul class="list-disc ml-6 my-8">
        {
          data.bulletPoints.map((item: string) => (
            <li class="group flex items-center leading-8 gap-4 my-6 bg-slate-100 border border-slate-200 rounded-sm py-4 px-8 transition duration-500 ease-in-out lg:flex-row-reverse hover:scale-105 hover:shadow-xl">
              <FaCheckCircle className="size-6 shrink-0 text-rose-600 transition duration-500 ease-in-out group-hover:scale-105" />
              {item}
            </li>
          ))
        }
      </ul>

      <p>{data.secondDescription}</p>
    </div>
    <slot />
    
  </div>
</SimpleSection>
