---
import { FaCheckCircle } from "react-icons/fa";
import SimpleSection from "../sections/SimpleSection.astro";

const { data } = Astro.props;

function mapIndexToSuperscript(index: number) {
  const superscripts = ["¹", "²", "³", "⁴", "⁵", "⁶", "⁷", "⁸", "⁹"];
  return superscripts[index] || "";
}
---

<SimpleSection title={data.title} subTitle={data.subTitle} size="large" bg="bg-slate-100">
  <div id="program-intro" class="text-slate-600">
    <div class="flex flex-col gap-6 mb-6 lg:gap-24 lg:flex-row">
      <div class="flex flex-col gap-6 lg:w-2/3" data-aos="fade-down" data-aos-delay="200">
        {data.descriptionParagraphs.map((paragraph: string) => <p set:html={paragraph} />)}
      </div>

      <div class="lg:w-1/3">
        <div
          data-aos="fade-down"
          data-aos-delay="300"
          data-aos-anchor="program-intro"
          class="bg-white p-6 rounded-sm shadow-lg"
        >
          {
            data.highlights && (
              <ul>
                {data.highlights.map((item: any, index: number) => (
                  <li class="flex flex-col gap-1 leading-8 border-b-2 border-slate-200 not-last:pb-4 not-first:pt-4 last:border-0">
                    <span class="text-base text-rose-600">
                      {item.highlightName} {item.observation ? mapIndexToSuperscript(index) : ""}
                    </span>
                    <strong class="text-slate-900">{item.highlightValue}</strong>
                  </li>
                ))}
              </ul>
            )
          }
        </div>

        {
          data.highlights.filter((item: any) => item.observation).length > 0 && (
            <div
              data-aos="fade-down"
              data-aos-delay="400"
              data-aos-anchor="program-intro"
              class="bg-white p-6 rounded-sm shadow-lg mt-6"
            >
              {data.highlights
                .filter((item: any) => item.observation)
                .map((item: any, index: number) => (
                  <p class="text-slate-600 text-base">
                    {mapIndexToSuperscript(index)} {item.observation}
                  </p>
                ))}
            </div>
          )
        }
      </div>
    </div>

    {
      data.programHighlights && (
        <div data-aos="fade-down" data-aos-delay="400" data-aos-anchor="program-intro" class="flex flex-col gap-6 lg:gap-24 lg:flex-row">
          <div class="lg:max-w-1/2">
            <h3 class="text-slate-900 font-bold text-3xl mb-4">Program Benefits</h3>
            <ul>
              {data.programHighlights.benefits.map((text: string) => (
                <li class="flex items-center leading-8 gap-4 my-6">
                  <FaCheckCircle className="size-6 shrink-0 text-rose-600" />
                  {text}
                </li>
              ))}
            </ul>
          </div>

          <div class="lg:max-w-1/2">
            <h3 class="text-slate-900 font-bold text-3xl mb-4">Requirements</h3>
            <ul>
              {data.programHighlights.requirements.map((text: string) => (
                <li class="flex items-center leading-8 gap-4 my-6">
                  <FaCheckCircle className="size-6 shrink-0 text-rose-600" />
                  {text}
                </li>
              ))}
            </ul>
          </div>
        </div>
      )
    }
  </div>
</SimpleSection>
