---
import ImageComp from "./ImageComp.astro";
import { footerMenu } from "./Navbar.astro";
import { SITE_DESCRIPTION, COMPANY_NAME, FACEBOOK_URL, INSTAGRAM_URL, X_URL, YOUTUBE_URL, LOCATIONS, PHONE_NUMBER } from "../data/consts";
import { FaInstagram } from "react-icons/fa";
import { FaFacebookSquare } from "react-icons/fa";
import { FaYoutube } from "react-icons/fa";
import { FaXTwitter } from "react-icons/fa6";
import { FaLocationDot } from "react-icons/fa6";
import { FaPhoneAlt } from "react-icons/fa";

const today = new Date();
---

<footer class="w-full pt-8 px-4 pb-24 bg-slate-800 text-white sm:px-8">
  <div class="relative z-10 pt-24 mx-auto border-b border-gray-500 sm:max-w-xl md:max-w-full lg:max-w-7xl">
    <div class="flex flex-col gap-10 justify-between pb-10 lg:text-left lg:pb-16 lg:gap-20 xl:flex-row">
      <!-- Column 1: Logo + Tagline + Social -->
      <div class="flex flex-col items-center lg:flex-1 lg:text-left">
        <a href="/" class="flex items-center justify-center mb-4 w-full h-auto md:1/2 lg:w-full">
          <ImageComp src="/src/assets/cirrus-aviation-logo.png" alt={`${COMPANY_NAME} Logo`} />
        </a>

        <p class="text-sm text-justify mb-4 font-medium">
          {SITE_DESCRIPTION}
        </p>

        <!-- Social icons -->
        <div class="flex items-start align-middle gap-4">
          {
            FACEBOOK_URL && (
              <a
                href={FACEBOOK_URL}
                target="_blank"
                class="transition-colors duration-200 ease-in-out hover:text-lime-500"
              >
                <FaFacebookSquare className="text-2xl" />
                <span class="sr-only">{COMPANY_NAME} Facebook account link</span>
              </a>
            )
          }
          {
            INSTAGRAM_URL && (
              <a
                href={INSTAGRAM_URL}
                target="_blank"
                class="transition-colors duration-200 ease-in-out hover:text-lime-500"
              >
                <FaInstagram className="text-2xl" />
                <span class="sr-only">{COMPANY_NAME} Instagram account link</span>
              </a>
            )
          }
          {
            X_URL && (
              <a
                href={X_URL}
                target="_blank"
                class="transition-colors duration-200 ease-in-out hover:text-lime-500"
              >
                <FaXTwitter className="text-2xl" />
                <span class="sr-only">{COMPANY_NAME} X account link</span>
              </a>
            )
          }
          {
            YOUTUBE_URL && (
              <a
                href={YOUTUBE_URL}
                target="_blank"
                class="transition-colors duration-200 ease-in-out hover:text-lime-500"
              >
                <FaYoutube className="text-2xl" />
                <span class="sr-only">{COMPANY_NAME} Youtube account link</span>
              </a>
            )
          }
        </div>
      </div>

      <!-- Column 2–4: Links + Location -->
      <div
        class="w-full grid grid-cols-1 justify-center gap-10 text-center sm:grid-cols-2 md:gap-6 md:flex-row md:text-left md:justify-around lg:gap-10 lg:flex-1"
      >
        {
          footerMenu.map((item) => (
            <div class="min-w-40">
              {item.url ? (
                <a
                  class="font-bold text-lg transition-colors duration-200 ease-in-out hover:text-lime-500"
                  href={item.url}
                >
                  {item.label}
                </a>
              ) : (
                <span class="font-bold text-lg transition-colors duration-200 ease-in-out">{item.label}</span>
              )}
              <ul class="mt-2">
                {item.children &&
                  item.children.map((item) => (
                    <li class="text-base my-1">
                      <a
                        href={item.url}
                        class="transition-colors duration-200 ease-in-out text-slate-100 hover:text-lime-500"
                      >
                        {item.label}
                      </a>
                    </li>
                  ))}
              </ul>
            </div>
          ))
        }
      </div>

      <div class="mb-4 flex flex-col gap-2 min-w-40 lg:items-start">
        <p class="font-bold text-lg text-center md:text-left">Location</p>
        <a
          href={LOCATIONS[0].gMaps}
          target="_blank"
          class="mt-1 flex items-center text-sm gap-2 font-bold justify-center transition-colors duration-200 ease-in-out font-force-roboto md:justify-normal hover:text-lime-500"
        >
          <FaLocationDot className="text-lime-500 text-xl" />
          <span class="whitespace-pre-line text-center md:text-left">
            {LOCATIONS[0].fullAddressLineBreak}
          </span>
        </a>

        <a
          href=`tel:${PHONE_NUMBER}`
          class="mt-1 flex items-center text-sm gap-2 font-bold justify-center transition-colors duration-200 ease-in-out font-force-roboto md:justify-normal hover:text-lime-500"
        >
          <FaPhoneAlt className="text-lime-500 text-xl" />
          <span>
            {PHONE_NUMBER}
          </span>
        </a>
      </div>
    </div>

    <div class="w-full mb-6"></div>
  </div>

  <div
    class="relative z-10 flex flex-col justify-center items-center gap-6 py-6 text-sm text-center sm:flex-row sm:gap-2"
  >
    <span class="inline-block text-center sm:w-1/3">
      Powered by
      <a
        href="https://rightruddermarketing.com/"
        target="_blank"
        class="font-medium transition-colors duration-200 ease-in-out hover:text-lime-500"
      >
        More Right Rudder
      </a>
    </span>
    <p class="inline-block text-center sm:w-1/3">
      &copy; Copyright {today.getFullYear()} • {COMPANY_NAME} • All rights reserved.
    </p>
    <p class="inline-block text-center sm:w-1/3">
      <a href="/privacy-policy" class="transition-colors duration-200 hover:text-lime-500">Privacy Policy</a>
      •
      <a href="/terms-of-service" class="transition-colors duration-200 hover:text-lime-500">Terms of Service</a>
    </p>
  </div>
</footer>
