---
import ImageComp from "./ImageComp.astro";

interface ctaProp {
  url: string;
  text: string;
}

interface Props {
  data: {
    image: {
      src: string;
      alt: string;
    };
    videoSrc?: string;
    title: string;
    subTitle?: string;
    cta?: ctaProp[];
    ctaMobile?: ctaProp;
  };
  position?: "center" | "left";
}

const { data, position = "left" } = Astro.props;
---

<div
  class="relative overflow-hidden flex justify-center items-center text-accent-100 min-h-[75vh]"
>
  <ImageComp
    src={data.image.src}
    alt={data.image.alt}
    class="absolute object-right lg:object-center lg:inset-0 h-full w-full object-cover brightness-90 -z-20"
    loading="eager"
    quality={100}
    fetchpriority="high"
  />

  {
    data.videoSrc && (
      <video
        autoplay
        loop
        playsinline
        muted
        preload="auto"
        src={data.videoSrc}
        class="block absolute left-0 top-0 size-full -z-10 object-cover object-center"
      />
    )
  }

  <div
    class="absolute inset-0 h-full w-full bg-radial from-slate-950/30 via-slate-950/50 to-slate-950/70 -z-10"
  >
  </div>

  <div
    class=`max-w-7xl flex w-full flex-col justify-center items-center lg:items-start py-28 px-5 md:px-8 lg:px-10 text-center lg:text-left`
  >
    <div class="w-full flex flex-col justify-center items-center lg:justify-center lg:items-start">
      <div class={`w-full flex flex-col items-center gap-y-6 text-center ${position === "center" ? "" : "lg:items-start lg:text-left"}`}>
        <h1 class="max-w-3xl text-4xl sm:text-5xl md:text-6xl uppercase font-bold" set:html={data.title} />
        {data.subTitle && <h2 class="max-w-2xl text-xl/6 font-light drop-shadow-md" set:html={data.subTitle} />}
      </div>

      {
        data.cta && (
          <div class="hidden flex-row gap-4 items-center justify-start my-12 mx-auto sm:flex lg:mx-0">
            {data.cta.map((item, index) => (
              <a
                href={item.url}
                class={`${index === 0 ? "btn-rose" : "btn-rose-outline"} text-lg group w-fit md:text-2xl`}
              >
                {item.text}
              </a>
            ))}
          </div>
        )
      }

      {
        data.ctaMobile && (
          <a href={data.ctaMobile.url} class="btn-rose text-lg group w-fit my-8 sm:hidden! md:text-2xl">
            {data.ctaMobile.text}
          </a>
        )
      }
    </div>
  </div>
</div>
