---
import type { CollectionEntry } from "astro:content";
import BaseLayout from "./BaseLayout.astro";
import Header from "../components/Header.astro";
import { formatDate, capitalize } from "../components/utils/utils";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, author, heroImage, heroImageAlt, category } = Astro.props;

const header = {
  image: {
    src: heroImage,
    alt: heroImageAlt,
  },
  title: title,
  subTitle: description,
};
---

<BaseLayout pageTitle={title} pageDescription={description}
  ><!-- TODO : Add keywords? -->
  <Header data={header} />
  <main class="bg-slate-100 min-h-screen">
    <article id="blog-post" class="max-w-5xl py-24 px-4 mx-auto bg-white text-slate-900 overflow-hidden lg:px-12">
      <div
        class="prose prose-lg max-w-none prose-img:rounded-sm prose-a:hover:text-slate-500 prose-a:transition prose-a:duration-200 prose-a:ease-in-out prose-hr:h-0.5 prose-hr:bg-slate-300 prose-hr:rounded-full"
      >
        <h2 class="mb-4">{title}</h2>
        <p class="flex flex-wrap gap-4 items-center mb-8">
          <span class="px-2 py-1 rounded-sm bg-slate-200 text-xs w-fit">{capitalize(category)}</span>
          <span>{formatDate(pubDate)}</span>
          <span>•</span>
          <span>{capitalize(author)}</span>
        </p>
        <slot />
      </div>
    </article>
  </main>
</BaseLayout>
